/*
========================================================================================
    Module-specific Configuration
========================================================================================
    This file contains default parameters for each process/module.
    These can be overridden in your params file or at runtime.
========================================================================================
*/

process {

    // ================================
    // ARCASHLA_EXTRACT
    // ================================
    withName: 'ARCASHLA_EXTRACT' {
        // Resource configuration
        cpus   = { check_max( params.threads, 'cpus' ) }
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time   = { check_max( 4.h * task.attempt, 'time' ) }
        disk   = '100 GB'
    }

    // ================================
    // ARCASHLA_GENOTYPE
    // ================================
    withName: 'ARCASHLA_GENOTYPE' {
        // Resource configuration
        cpus   = { check_max( params.threads, 'cpus' ) }
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time   = { check_max( 8.h * task.attempt, 'time' ) }
        disk   = '100 GB'
    }
}
